.wrapper{
  height: 100vh;
  width:1300px;
  margin: 0 auto;

}
.inner_wrapper{
  width: 1020px;
  margin: 0 auto;
}
.head_banner{
  background-image: url(../images/Layer20.png);
  height: 566px;
}
.icon_area{
  background-image: url("../images/Layer7.png");
  display: flex;
  height: 212px;
}
.section_1{
  background-image: url("../images/Layer10copy3.png");
  height: 509px;
}
.section_2{
  background-image: url("../images/Layer32.png");
  height: 499px;
}
footer{
  background-image: url("../images/Layer31.png");
  background-size: cover;
  height: 76px;
  margin: -11px 0 0 -6px;
}
header{
  display: flex;
  justify-content: space-between;
  height: 112px;
}
.banner{
  display: flex;
  align-content: stretch;
  height: 454px;
}
/*HEADER */

#logo object[data$="4.svg"]{
  padding-left: 2px;
  padding-top: 2px;
  position: absolute;
}
#logo object[data$="3.svg"]{
  margin-bottom: -3px;
}
h1{
  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans Italic";
  text-align: center;
  margin-bottom: 17px;
  margin-left: 4px;
}
#title, #list{
  display: flex;
  align-items: flex-end; 
}
.rectangle{
  width: 453px;
  height: 41px;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  background-image: -webkit-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
  background-image: -o-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
  background-image: linear-gradient(to top, #f5c505 0%, #f5c505 100%);
}
.rectangle1{
  display: flex;
  align-items: center;
  justify-content: stretch;
  z-index: 3;
}
.rectangle1 ul{
  display: flex;
  flex-grow: 1;
  display: flex;
}
.rectangle1 ul li{
  display: flex;
  flex-grow: 1;
  border-right: 1px solid #9b7d08;
}
.rectangle1 ul li a{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 41px;
  width: 150px;
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  text-decoration: none;
  font-family: "Segoe WP";
}
.rectangle1 ul li a::after{
  border-right: none;
}
.rectangle2{
  opacity: 0.27;
  z-index: 2;
  position: absolute;
  margin-top: -5px;
  margin-left: -4px;
}
.rectangle3{
  opacity: 0.27;
  z-index: 1;
  position: absolute;
  margin-top: -8px;
  margin-left: -8px;
}
/*BANNER*/
.banner .video{
  flex-grow: 1;
}
.banner video{
  width: 549px;
  margin-left: 10px;
  margin-top: 56px;
}
.banner label{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.banner label h2{
  font-size: 63px;
  letter-spacing: 1px;
  font-family: "Asap Regular";
  font-weight: 400;
  text-align: center;
}
.banner label h2:first-child{
  color: #f5c506;
  margin-top: 138px;
  margin-left: -13px;
}
.banner label h2:last-child{
  color: #fff;
  margin-top: 12px;
  margin-left: 2px;
}
.nav-buttons{
  display: flex;
  position: absolute;
  width: 1300px;
  justify-content: space-between;
  margin-top: 299px;
}
/* ICON_AREA */
.icon_area > .inner_wrapper{
  display: flex;
  align-items: stretch;
}
.icon_area ul{
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.icon_area ul li{
  width: 339px;
  display: flex;
  flex-direction: column;
    align-items: center;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #d4d4d4;
}
.icon_area ul li:last-child{
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #d4d4d4;
}
.icon_area ul li a{
  text-decoration: none;
    font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe UI Light";
  font-weight: 300;
}
.icon_area li:nth-child(1)>svg{
  margin-top: 60px;
  margin-bottom: 14px;
  margin-left: -8px;
}
.icon_area li:nth-child(1)>a{
  margin-left: 17px;
}
.icon_area li:nth-child(2)>svg{
  margin-top: 36px;
  margin-bottom: 18px;
  margin-left: 21px;
}
.icon_area li:nth-child(2)>a{
  margin-left: 17px;
}
.icon_area li:nth-child(3)>svg{
  margin-top: 53px;
  margin-bottom: 13px;
  margin-left: -22px;
}
.icon_area li:nth-child(3)>a{
  margin-left: -16px;
}
.icon_area tspan { white-space:pre }
.icon_area .shp0 { fill: #f5c506 } 

.icon_area .icon:hover {
    -webkit-filter: drop-shadow(0 6px 1px rgba(0,0,0,0.5));      
    filter: drop-shadow(0 6px 1px rgba(0,0,0,0.5));  
}
/* SECTION_1 */
#title{
  display: flex;
  align-items: center;
  height: 110px;
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-weight: 400;
}

