.wrapper{
  height: 100vh;
  width:1300px;
  margin: 0 auto;

}
.inner_wrapper{
  width: 1020px;
  margin: 0 auto;
}
.head_banner{
  background-image: url(../images/Layer20.png);
  height: 566px;
}
.icon_area{
  background-image: url("../images/Layer7.png");
  display: flex;
  height: 212px;
  -webkit-box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61);
  box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61);
}
.section_1{
  -webkit-box-shadow: inset 0px 3px 5px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: inset 0px 3px 5px -2px rgba(0,0,0,0.61);
  box-shadow: inset 0px 3px 5px -2px rgba(0,0,0,0.61);
  background-image: url("../images/Layer10copy3.png");
  height: 509px;
}
.section_2{
  background: #474747;
  height: 496px;
}
footer{
  box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
  background: #4c4c4c;
}
header{
  display: flex;
  justify-content: space-between;
  height: 112px;
}
.banner{
  display: flex;
  height: 327px;
  margin-top: 56px;
}

/*HEADER */

#logo object[data$="3.svg"]{
  margin-bottom: -3px;
}
h1{
  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans Italic";
  text-align: center;
  margin-bottom: 17px;
  margin-left: 4px;
}
header>.title, #list{
  display: flex;
  align-items: flex-end; 
}
.rectangle{
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: 453px;
  height: 41px;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  background-image: -webkit-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
  background-image: -o-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
  background-image: linear-gradient(to top, #f5c505 0%, #f5c505 100%);
  -webkit-box-shadow: -8px -8px 0px 0px rgba(245,197,5,0.27),-4px -5px 0px 0px rgba(245,197,5,0.27);
  -moz-box-shadow: -8px -8px 0px 0px rgba(245,197,5,0.27),-4px -5px 0px 0px rgba(245,197,5,0.27);
  box-shadow: -8px -8px 0px 0px rgba(245,197,5,0.27),-4px -5px 0px 0px rgba(245,197,5,0.27);
}
.rectangle ul{
  display: flex;
  flex-grow: 1;
  display: flex;
}
.item{
  display: flex;
  flex-grow: 1;
  border-right: 1px solid #9b7d08;
}
.item a{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 41px;
  width: 150px;
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  text-decoration: none;
  font-family: "Segoe WP";
}
.item a::after{
  border-right: none;
}

/*BANNER*/

.banner .video{
  width: 54%;
  margin-left: 9px;
  overflow: hidden;
}
.banner video{
  overflow: hidden;
}
.banner video[poster]{
  margin-left: -53px;
}
.video img{
  z-index: 1;
  position: absolute;
  width: 549px;
  padding-left: 1px;
}
.video img:hover{
-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}
label[for=poster]{
  display: flex;
  flex-direction: column;
  width: 44%;
}
label[for=poster]>h2{
  font-size: 63px;
  letter-spacing: 1px;
  font-family: "Asap Regular";
  font-weight: 400;
  text-align: center;
}
label[for=poster]>h2:first-child{
  color: #f5c506;
  margin-top: 82px;
  margin-left: 26px;
}
label[for=poster]>h2:last-child{
  color: #fff;
  margin-top: 12px;
  margin-left: 44px;
}
.nav-buttons{
  display: flex;
  position: absolute;
  width: 1300px;
  justify-content: space-between;
  margin-top: 299px;
}

/* ICON_AREA */

.icon_area > .inner_wrapper{
  display: flex;
  align-items: stretch;
}
.icon_area ul{
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
.icon_item{
  width: 339px;
  display: flex;
  flex-direction: column;
    align-items: center;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #d4d4d4;
}
.icon_item:last-child{
  border-right: solid;
  border-right-width: 1px;
  border-right-color: #d4d4d4;
}
.icon_item a{
  text-decoration: none;
    font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe UI Light";
  font-weight: 300;
}
.icon_item:nth-child(1)>svg{
  margin-top: 60px;
  margin-bottom: 14px;
  margin-left: -8px;
}
.icon_item:nth-child(1)>a{
  margin-left: 17px;
}
.icon_item:nth-child(2)>svg{
  margin-top: 36px;
  margin-bottom: 18px;
  margin-left: 21px;
}
.icon_item:nth-child(2)>a{
  margin-left: 17px;
}
.icon_item:nth-child(3)>svg{
  margin-top: 53px;
  margin-bottom: 13px;
  margin-left: -22px;
}
.icon_item:nth-child(3)>a{
  margin-left: -16px;
}
.icon_item tspan { white-space:pre }
.icon_item .shp0 { fill: #f5c506 } 

.icon_item>.icon:hover {
    -webkit-filter: drop-shadow(0 6px 1px rgba(0,0,0,0.5));      
    filter: drop-shadow(0 6px 1px rgba(0,0,0,0.5));  
}

/* SECTION_1 */

.section_1 .title{
  display: flex;
  align-items: center;
  height: 110px;
  font-size: 37px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Regular";
  font-weight: 400;
}
.block_bar{
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}
.block1{
  height: 232px;
  width: 340px;
  background: #ec9e03;
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP";
  font-weight: 300;
}
p#desktop{
  padding-top: 16px;
  padding-left: 29px;
  padding-right: 30px;
}
p#mobile{
  display: none;
}
.block1>svg{
  position: absolute;
  margin-left: 314px;
  margin-top: 2px;
}
.block1 .tspan { white-space:pre }
.block1 .shp0 { opacity: 0.702;fill: #ffffff } 
.block2,.block2>video{
  height: 232px;
  width: 315px;
}
.block2>img{
  position: absolute;
  margin-left: -185px;
  margin-top: 92px;
}
.block3{

  align-items: center;
  height: 232px;
  width: 329px;
  background: #ec9e03;
  margin-left: 34px;
}
.block3>svg:nth-child(1) tspan,
.block3>svg:nth-child(2) tspan  { 
  white-space:pre;
}
.block3>svg:nth-child(1) .shp0 { 
  fill-opacity: 0.902;
  fill: #bc7d00 
} 
.block3>svg:nth-child(1) { 
  margin-top: 60px;
  margin-left: 82px;
}
.block3>svg:nth-child(2) .shp0 { 
  opacity: 0.702;
  fill: #ffffff; 
}  
.block3>svg:nth-child(2){ 
  position: absolute;
  margin-top: 209px;
  margin-left: 62px;
}
.block3>.number{
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP";
  font-weight: 300;
  position: absolute;
  margin-top: -186px;
  margin-left: 285px;
}
.block3>.messages{
  display: none;
}
.block4{
  width: 112px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddb101;
}
.block4>time{
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  margin-left: 3px;
}
span.day{
  font-size: 51px;
  letter-spacing: 1px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe UI";
  font-weight: bold;
}
span.month{
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #b26529;
  font-family: "Segoe UI";
  margin-left: 5px;
}
.slider_block{
  height: 81px;
}
.slider{
  -webkit-appearance: none;
  margin-top: 44px;
  margin-left: 72px;
  width: 896px;
  height: 15px;
  border-radius: 7px;
  background-color: #ffffff;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 197px;
  height: 15px;
  border-radius: 7px;
  background: #ec9e03;
  background-color: #ec9e03;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 197px;
  height: 15px;
  border-radius: 7px;
  background: #ec9e03;
  background-color: #ec9e03;
  cursor: pointer;
}

/* Section_2 */

.section_2 .title{
  height: 84px;
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  font-size: 43px;
  letter-spacing: 0px;
  color: #f5c506;
  font-family: "PT Sans Regular";
  font-weight: 400;
}
.content{
  display: flex;
  height: 316px;
}

.content>.images{
  width: 597px;
  padding-top: 8px;
  margin-left: -2px;
}

.content>.list{
  width: 423px;
  display: flex;
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: "Open Sans";
  font-weight: 400;
}
.content>.list>ul{
  margin-top: 75px;
  margin-left: 41px;
}
.content>.list li{
  margin-top: 21px;
  line-height: 1.2;
  padding-left: 33px;
}
span.dot{
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #f5c506;
  display: inline-block;
  margin-left: -32px;
  margin-right: 18px;
}

/* Footer */

footer>.inner_wrapper{
  display: flex;
  height: 64px;
}
footer object[data$="3.svg"]{
  width: 55px;
  margin-bottom: -3px;
}

footer>.inner_wrapper>h2{
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans Italic";
  text-align: center;
  margin-top: 19px;
  margin-left: 7px;
}

/* Mobile version */

@media screen and (max-width: 640px) {
  html{
    overflow-x: hidden;
  }
  .wrapper {
    height: 100vh;
    width: 640px;
    margin: 0 auto;
  }
  .inner_wrapper {
    width: 640px;
  }
  .head_banner{
    height: 390px;
    background-image: none;
  }
  .icon_area{
    height: 170px;
  }
  .section_1{
    height: 484px;
    background: none;
  }
  .section_2{
    height: 464px;
  }
  footer{
    height: 42px;
  }
  .nav-buttons {
      display: none;
  }
  header {
    display: flex;
    justify-content: stretch;
    height: 62px;
  }
  label[for=poster] {
      display: none;
  }
  h1 {
      font-size: 19px;
      text-align: center;
      padding-right: 24px;
      padding-top: 20px;
  }
  #logo object[data$="3.svg"] {
      margin-left: 9px;
      width: 55%;
  }
  header > .title, #list {
      align-items: center;
  }
  header > .title{
    background: #4c4c4c;
  }
  .rectangle {
      box-shadow: none;
      background-image:none;
  }
  .item{
    border-right: none;
  }
  .item a{
    height: 62px;
    background-image: -webkit-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
    background-image: -o-linear-gradient(bottom, #f5c505 0%, #f5c505 100%);
    background-image: linear-gradient(to top, #f5c505 0%, #f5c505 100%);
  }
.banner{
  margin-top: 0;
  align-items: stretch;
}
  /*
  .banner{
    display: flex;
    height: 327px;
    margin-top: 56px;
  }
.banner .video{
  width: 54%;
  margin-left: 9px;
  overflow: hidden;
}
.banner video{
  overflow: hidden;
}
.banner video[poster]{
  margin-left: -53px;
}
.video img{
  position: absolute;
  width: 550px;
  padding-left: 1px;
}
  */
  .banner video[poster] {
       margin-left: 0; 
  }
  .banner .video {
      padding: 0;
      flex-grow: 1;
      width: 640px;
      margin-left: 0;
  }
  .banner video {
     overflow: visible;
      padding: 0;
      flex-grow: 1;
      width: 640px;
      margin-top: 0;
      margin-left: 0;
  }
  .video img{
    margin-left: 44px;
  }



  /* Icon_area */

  .icon_area{
    background-image: url("../images/mobile/Layer27.png");
    height: 170px;
    -webkit-box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61); 
    box-shadow: 0px -3px 5px -2px rgba(0,0,0,0.61);
  }
  .icon_item{
    width: 207px;
    border-left: none;
  }
  .icon_item:last-child{
    border-right: none;
  }
  .icon_item a{
      font-size: 23px;
  }
  .icon_item:nth-child(1)>svg{
    margin-top: 25px;
    margin-bottom: 14px;
    margin-left: -25px;
    width: 90px;
  }
  .icon_item:nth-child(1)>a{
    margin-left: -17px;
  }
  .icon_item:nth-child(2)>svg{
    margin-top: 13px;
    margin-bottom: 5px;
    margin-left: 36px;
    width: 65px;
    
  }
  .icon_item:nth-child(2)>a{
    margin-left: 36px;
  }
  .icon_item:nth-child(3)>svg{
    margin-top: 21px;
    margin-bottom: 9px;
    margin-left: 25px;
    width: 70px;
  }
  .icon_item:nth-child(3)>a{
    margin-left: 36px;
  }

  /* Section_1 */

  .section_1 .title{
    display: none;
  }

  .block1 {
    width: 300px;
    margin: 10px;
    font-size: 29px;
    line-height: 33px;
  }
  .block1>svg{
      margin-left: 275px;
      margin-top: -11px;
    }
  .block2{
    margin-top: 9px;
    margin-left: -2px;
  }
  .block3{
    margin-left: 0;
  }
   
p#desktop{
  display: none;
}
p#mobile{
  display: block;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 30px;
}
 /* .block1>svg{
    position: absolute;
    margin-left: 314px;
    margin-top: 2px;
  }
  .block1 .tspan { white-space:pre }
  .block1 .shp0 { opacity: 0.702;fill: #ffffff } 
*/
 

  .block3{
    display: flex;
    flex-grow: 1;
    background: #f5c507;
    justify-content: space-between;
  }
/*   .block3>svg:nth-child(1) tspan,
.block3>svg:nth-child(2) tspan  { 
  white-space:pre;
}
.block3>svg:nth-child(1) .shp0 { 
  fill-opacity: 0.902;
  fill: #bc7d00 
} 
.block3>svg:nth-child(1) { 
  margin-top: 60px;
  margin-left: 82px;
}
.block3>svg:nth-child(2) .shp0 { 
  opacity: 0.702;
  fill: #ffffff; 
}  
.block3>svg:nth-child(2){ 
  position: absolute;
  margin-top: 209px;
  margin-left: 62px;
}
.block3>.number{
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 38px;
  color: #ffffff;
  font-family: "Segoe WP";
  font-weight: 300;
  position: absolute;
  margin-top: -186px;
  margin-left: 285px;
} */
.block3>.number{
  display: none;
} 
.block3>svg:nth-child(2){ 
  display: none;
}
  .block4{
    display: none;
  }
  .slider_block {
    display: none;
  }

  .block3>.messages{
    display: flex;
    width: 313px;
    height: 232px;
  }
  .tweets{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .message{
    height: 43px;
    background-image: url(../images/mobile/twitter-cloud.png);
    background-repeat: no-repeat;
    padding: 1px;
  }
  .message:nth-child(2){opacity: 0.7;}
  .message:nth-child(3){opacity: 0.6;}
  .write_message>input{}
  .write_message>button{}
  
  /* Section_2 */

  .section_2 .title{
    height: 78px;
  
  }
  .images img{
    margin-left: 32px;
    margin-top: 27px
  }
  .content>.list{
    display: none;
  }

  /* Footer */

  footer>.inner_wrapper {
      height: 44px;
  }
  footer>.inner_wrapper>h2 {
      font-size: 17px;
      margin-top: 16px;
      margin-left: 8px;
  }
  footer object[data$="3.svg"] {
      width: 32px;
      margin-left: 64px;
      margin-bottom: -3px;
  }
}